.main-container {
    padding: 70px 0px 50px;
}

.container {
    width: 940px;
    margin: 0 auto;
}

#primary.content-full-width {
    width: 100%;
}

#primary {
    width: 72.9%;
    float: left;
    margin: 0;
    padding: 0;
}

.block-title, .block-title.aligncenter, .block-title-bor {
    margin-bottom: 43px;
}

.block-title, .block-title-bor {
    clear: both;
    font-size: 30px;
    color: #a1bd57;
}
.column.first {
    margin-left: 0px;
}
.dt-sc-one-half {
    width: 48.93%;
}
.column {
    margin: 0px 0 0px 2%;
    float: left;
    min-height: 1px;
    position: relative;
}

.reserve-frm p {
    float: left;
    width: 100%;
}

p {
    line-height: 24px;
    margin-bottom: 10px;
}

.reserve-frm p label {
    font-size: 13px;
    font-weight: normal;
    min-width: 140px;
    margin-right: 10px;
    float: left;
    line-height: 46px;
}

.reserve-frm p input, .reserve-frm p textarea, .dt-sc-one-half .reserve-frm p input, .dt-sc-one-half .reserve-frm p textarea {
    float: left;
    width: 62%;
}

input[type="text"], input[type="email"], input[type="password"], input[type="date"], input[type="time"], textarea, .reserve-frm p select {
    background-color: #EBE8DF;
    border: 1px solid #DAD6CF;
    color: #464646;
}

input[type=text], input[type=email], input[type=password], input[type=date], input[type="time"], textarea, select {
    border: 1px solid;
    padding: 10px;
    display: block;
    font-size: 14px;
    margin: 10px 0 10px;
}

body, input[type=text], input[type=password], input.text, textarea, input[type=submit], .breadcrumb-wrapper .page-title, footer .widget.hotel-booking li h4, .services h2, .intro-text h2, .big-ribbon h3, .widget .testi-author h4, .dt-sc-titled-box .dt-sc-titled-box-title {
    font-family: 'Open Sans', sans-serif;
}

input, select {
    vertical-align: middle;
}

.reserve-frm input[type="submit"].dt-sc-button {
    margin: 0;
}

.dt-sc-button.small {
    font-size: 18px;
    padding: 8px 20px;
    border-radius: 25px;
}

input.button, input[type="submit"], input[type="button"] {
    overflow: visible;
    width: auto !important;
}

input[type=submit], button, input[type=button] {
    float: right;
    cursor: pointer;
}

.theme-btn {
    background-color: #b88f3f;
    border-color: #d0c2a6;
    box-shadow: inset 1px 1px 0px 0px #a5782e;
}

.dt-sc-one-half {
    width: 48.93%;
}

.column {
    margin: 0px 0 0px 2%;
    float: left;
    min-height: 1px;
    position: relative;
}

.dt-sc-one-fifth {
    width: 18.3%;
}

.dt-sc-four-fifth {
    width: 79.6%;
}

.border.corner.reservation-detail {
    width: auto;
    margin-top: 10px;
}
.border.corner {
    width: inherit;
    float: none;
}
.border {
    background: #dad6cf;
    border-color: #c2b59d;
    padding: 6px;
    border: 1px solid;
}

.corner {
    position: relative;
}

.intro-text.type2 .content-bg, .contact-info .content-bg, .reservation-detail .content-bg {
    background: url(images/intro-grey-bg.jpg) repeat;
}

.reservation-detail .content-bg {
    padding: 20px 10px;
}

.border .content-bg {
    background: #fff;
    padding: 20px;
}

.reservation-detail h2{
    color: #a58039;
    font-size: 29px;
}

.dropcap.dropcap-default {
    color: #5A5A5A;
    font-size: 50px;
    padding-top: 6px;
    text-shadow: 0 1px 0 #FFFFFF;
    width: 42px;
}

.dropcap {
    font-size: 24px;
    float: left;
    margin: 10px 0px 10px 0px;
    text-align: center;
    color: #ffffff;
    line-height: 35px;
}

ul {
    list-style-type: square;
    list-style-position: inside;
}
ul, ol, pre, code {
    margin-bottom: 20px;
}

ol, ul {
    list-style: none;
}

.menu-items-list .items li {
    display: inline-block;
    font-size: 16px;
    font-family: 'Roboto Condensed', sans-serif;
    padding-bottom: 10px;
}

.items li a {
    line-height: 30px;
    float: left;
    color: #464646;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6, h1 a, h2 a, h3 a, h4 a, h5 a, h6 a, a, .blog-post .entry-datail .entry-meta a:hover, .contact-info li span.fa, .read-more, footer .widget_text a, .footer-links li a:hover, ul.dt-sc-tabs-vertical-frame li.current a, .menu-items-list .items li a .price, .menu-items-list .items li a .number, .offer .entry-detail .price ins, footer h3.widgettitle, footer h4, .service-ico li a:hover, .price .amount, .copyright a:hover {
    color: #a1bd57;
}

.menu-items-list .items li a .number {
    font-size: 22px;
    background: url(images/grey-ico-bg.png) no-repeat;
    text-shadow: 1px 1px 0px #ffffff;
}

.contact-info li span, .menu-items-list .items li a .number {
    height: 32px;
    line-height: 32px;
    text-align: center;
    width: 32px;
    float: left;
    margin-right: 22px;
}

h1, h2, h3, h4, h5, h6, .menu-items-list .items li a .number {
    font-family: 'Lobster', cursive;
}

#primary img {
    max-width: 100%;
}

.corner img {
    width: 100%;
}

.column img {
    max-width: 100%;
    height: auto;
}





