.dang_nhap{
    height: 50px;
    width: 50px;
    cursor: pointer;
}

.profile {
    margin-left: auto;
    position: absolute;
    display: inline-block;
    margin-left: 160px;
}
.triangle-down {
    position: absolute;
    top: 50%;
    /* Điều chỉnh khoảng cách từ phải */
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #000;
    /* Màu sắc của tam giác */
    cursor: pointer;
}
.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #fff;
    list-style-type: none;
    margin: 0;
    padding: 0;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border: 1px solid black;
    margin-left:-50px;
    border-radius: 5px;
    z-index: 9999;
    width: 200px;
}
.dropdown-menu li {
    padding: 15px 30px;
    text-align: left;
}

.dropdown-menu li:hover {
    background-color: #cccccc;
    color: #5e5e5e;
}

.dropdown-menu li a {
    text-decoration: none;
    color: #000;
}
